*, *::before, *::after {
    font-family: 'Crimson Text', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a { text-decoration: none; }
li { list-style: none; }

:root {
    --white: #ffffff;
    --beige: #e6dcd3;
    --dark-beige: #b4a79e;
    --brown: #bda18c;
    --dark-brown: #3f352c;
    --black: #000000;

    --transition-timing: 0.2s ease;
}

header {
    background-image: url("/img/encabezado.jpg");
    background-repeat: no-repeat;
    background-size: 100% 190px;
}

header .top-left {
    display: flex;
}

header > section > .logo img {
    width: 5rem;
}

.top-left .navbar nav > ul {
    display: flex;
    list-style: none;
}

/* ver menu hamburguesa desde js  */

.top-left .navbar nav > ul a {
    color: #000000;
}

/* responsive mobile first */

    /* 320px */

@media screen and (min-width:320px) {
    
}    

    /* 768px */

@media screen and (min-width:768px) {
    header {
        background-size: cover;
    }

}
