*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --beige: #e6dcd3;
    --dark-beige: #b4a79e;
    --brown: #bda18c;
    --dark-brown: #3f352c;
    --black: #000000;

    --transition-timing: 0.2s ease;

    --fuente-otra-serif: 'Crimson Text', serif;
    --fuente-texto-sans-serif: 'Nanum Gothic', sans-serif;
    --fuente-titulos-serif: 'Nanum Myeongjo', serif;
}

/* predeterminado */

a { 
    text-decoration: none;
    color: #000000; 
}

li { list-style: none; }

h1, h3, h5, h2 {
    font-family: var(--fuente-titulos-serif);
}

p, span, input::placeholder, h4 {
    font-family: var(--fuente-texto-sans-serif);
}

/* header */

header {
    background-image: url("/img/encabezado.jpg");
    background-repeat: no-repeat;
    background-size: 100% 160px;
}

header .top {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 2rem;
}

.logo {
    width: 5rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.navbar {
    transition-duration: var(--transition-timing);
}

.navbar.active {
    height: 500px;
}

.navbar .menu {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}

.navbar.active .menu{
    opacity: 1;
}

.navbar .menu li a {
    margin-bottom: 12px;

}

.icons .hamburger {
    display: block;
}

.navbar .menu li a:hover {
    color: var(--black);
    transition: 0.5s;
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
}

.right span {
    padding: 0 .5rem;
}

.banner {
    text-align: center;
    color: var(--white);
    padding: 2.2rem;
}

.banner h1 {
    font-size: 2.5rem;
}

.subtitle {
    display: none;
}

/* main  */

.about {
    background-color: var(--beige);
    text-align: center;
    padding: 1.25rem 0;
}

.about h2 {
    font-size: 2rem;
}

.about .contenido {
    padding: 1rem 2rem;
}

.about .contenido h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

/* footer */
footer {
    background-color: var(--dark-brown);
    color: var(--white);
    text-align: center;
}

footer div {
    padding: 1rem 0;
}

.contact h4 {
    font-family: var(--fuente-texto-sans-serif);
    font-size: 0.9rem;
    padding: 0 1rem 1rem 1rem;
    font-weight: 500;
}

form {
    background-color: var(--white);
    border-radius: 96px;
    border: var(--black);
    display: flex;
    margin: 1rem;
    width: 90%;
}

form input {
    height: 2rem;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 9px 12px 9px 18px;
    box-shadow: none;
    transition: border 200ms ease-out, background 200ms ease-out;
    border-color: rgba(14,14,14,.1803921569);
    border-style: solid;
    border-width: 1px;
    border-right: 0;
}

form .subscribe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    height: 2rem;
    text-align: center;
    margin: auto;
    font-family: var(--fuente-texto-sans-serif);
    border: 1px solid rgba(14,14,14,.1803921569);
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    background: none;
    border-left: 0;
    width: 90%;
    padding: 9px 18px 9px 12px;
}

form .subscribe:hover, form .subscribe:active  {
    background-color: var(--black);
    color: var(--white);
}
   

/* estilos elementos dinámicos */

#productos-destacados-content {
    background-color: var(--white);
    height: auto;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
    align-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-gap: .5rem;
    margin: .5rem;
    padding-bottom: 1rem;
}

#productos-destacados h2 {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.box {
    display: flex;
    border-radius: .5rem;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    border: solid .75px rgba(194, 194, 194, 0.8);
    width: auto;
}

.box .box-content .header-box img {
    height: 10.75rem;
    cursor: pointer;
    border-radius: 1.25rem;
}

.box h3 {
    font-family: var(--fuente-titulos-serif);
    margin: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.box p {
    font-size: .75rem;
}

.box .box-content .footer-box .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box-content .footer-box .btn button {
    border-radius: 24px;
    height: 1.5rem;
    padding: 0 1rem;
    border: none;
    background-color: var(--brown);
    margin: .25rem;
    transition: background-color 0.3s ease;
}

.box .box-content .footer-box .btn button a {
    color: var(--white);
    cursor: pointer;
}

.box .box-content .footer-box button:hover {
    background-color: var(--beige);
}

.box .price-punt {
    cursor: pointer;
}

.box .fa-star {
    color: gold;
}

/* responsive mobile first */

    /* 320px */

@media screen and (min-width:320px) {

}

@media screen and (min-width:550px) {

    footer {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    .contact h4 {
        padding: 0;
    }

    form .subscribe {
        width: 50%;
    }

}

    /* 768px */

@media screen and (min-width:768px) {
    header {
        background-size: 100%;
    }

    .left {
        display: flex;
        align-items: center;
    }

    .navbar {
        padding: 0 1.25rem;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
    }

    .navbar .menu li a {
        display: block;
        color: var(--white);
        padding: 0 .25rem;
        font-family: var(--fuente-texto-sans-serif);
        font-size: 0.8rem;
    }

    .navbar .menu li a.active {
        color: var(--black);
        transition: 0.5s;
    }

    .icons .hamburger {
        display: none;
    }

    .banner {
        margin-top: 2rem;
    }

    .subtitle {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
    }

    /* elementos dinámicos */

    .box {
        width: 20rem;
    }
}

@media screen and (min-width:1100px) {

    header {
        background-size: cover;
    }

    .banner {
        margin-top: 6.5rem;
    }

    .banner h1 {
        font-size: 3.5rem;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
        opacity: 1;
        overflow: visible;
    }

    .icons .hamburger {
        display: none;
    }

    .about {
        padding: 1rem;
    }

    .about-container {
        display: flex;
    }

    #productos-destacados-content {
        grid-template-columns: repeat(4, 1fr);
        padding: 1rem;
    }
    
    #productos-destacados h2 {
        padding-top: 1rem;
    }
}
