*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --beige: #e6dcd3;
    --dark-beige: #b4a79e;
    --brown: #bda18c;
    --dark-brown: #3f352c;
    --black: #000000;

    --transition-timing: 0.2s ease;

    --fuente-otra-serif: 'Crimson Text', serif;
    --fuente-texto-sans-serif: 'Nanum Gothic', sans-serif;
    --fuente-titulos-serif: 'Nanum Myeongjo', serif;
}

/* predeterminado */

a { 
    text-decoration: none;
    color: #000000; 
}

li { list-style: none; }

h1, h3, h5, h2 {
    font-family: var(--fuente-titulos-serif);
}

p, span, input::placeholder, h4 {
    font-family: var(--fuente-texto-sans-serif);
}

/* header */

header .top {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 2rem;
    background-color: var(--beige);
    position: fixed;
    width: 100%;
}

.top-product {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0.5rem 2rem;
    background-color: var(--beige);
}

.logo {
    width: 5rem;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

.right {
    padding: 0 1rem;
}

    /* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar .dropdown .btn {
    background-color: none;
    color: var(--white);
}

.navbar .dropdown .btn:hover {
    color: rgb(70, 70, 70);
    transition: 0.5s;
}

.navbar .dropdown .btn:focus, .navbar .dropdown .btn:active, .btn.show, .btn:first-child:active {
    border: none;
}

.dropdown-menu {
    border: solid .75px rgba(194, 194, 194, 0.8);
    width: fit-content;
    border-radius: .5rem;
    box-shadow: -10px 10px 24px -5px rgba(0,0,0,0.38);
}

.dropdown-item:hover {
    transition: 0.2s;
}

.dropdown-item:active {
    background-color: rgba(209, 209, 209, 0.791);
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
}

    /* banner */

.banner {
    text-align: center;
    color: var(--white);
    background-image: url("/img/encabezado.jpg");
    background-repeat: no-repeat;
    background-size: 100% 160px;
}

.banner h1 {
    font-size: 3rem;
    font-weight: 700;
}

.banner h2 {
    font-family: var(--fuente-texto-sans-serif);
    font-size: 1.75rem;
    font-weight: 600;
}

.subtitle {
    display: none;
}

/* main  */

.about {
    background-color: var(--beige);
    text-align: center;
    padding: 1.25rem 0;
}

.about h2 {
    font-size: 2rem;
    font-weight: 600;
}

.about .contenido {
    padding: 1rem 2rem;
}

.about .contenido h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* footer */
footer {
    background-color: var(--dark-brown);
    color: var(--white);
    text-align: center;
}

footer div {
    padding: 1rem 0;
}

.contact h4 {
    font-family: var(--fuente-texto-sans-serif);
    font-size: 0.9rem;
    padding: 0 1rem 1rem 1rem;
    font-weight: 500;
}

.social-media {
    cursor: pointer;
}

form {
    background-color: var(--white);
    border-radius: 96px;
    border: var(--black);
    display: flex;
    margin: 1rem;
    width: 90%;
}

form input {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 9px 12px 9px 18px;
    box-shadow: none;
    transition: border 200ms ease-out, background 200ms ease-out;
    border-color: rgba(14,14,14,.1803921569);
    border-style: solid;
    border-width: 1px;
    border-right: 0;
}

form .subscribe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    text-align: center;
    margin: auto;
    font-family: var(--fuente-texto-sans-serif);
    border: 1px solid rgba(14,14,14,.1803921569);
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    background: none;
    border-left: 0;
    width: 90%;
    padding: 9px 18px 9px 12px;
}

form .subscribe:hover, form .subscribe:active  {
    background-color: var(--black);
    color: var(--white);
}
   

/* estilos elementos dinámicos */

#productos-destacados h2 {
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 0;
}

.box {
    border-radius: .5rem;
    justify-content: center;
    padding: .5rem;
    text-align: center;
    border: solid .75px rgba(194, 194, 194, 0.8);
    margin: 1rem;
}

.box .box-content .header-box img {
    height: 10.75rem;
    cursor: pointer;
    border-radius: 1.25rem;
}

.box h3 {
    font-family: var(--fuente-titulos-serif);
    margin: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.box p {
    font-size: .75rem;
}

.box .box-content .footer-box .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .box-content .footer-box .btn button, .detail-content button {
    border-radius: 24px;
    height: 1.5rem;
    padding: 0 1rem;
    border: none;
    background-color: var(--brown);
    margin: .25rem;
    transition: background-color 0.3s ease;
    color: var(--white);
}

.box .box-content .footer-box button:hover, .detail-content button:hover {
    background-color: var(--beige);
}

.box .price-punt {
    cursor: pointer;
}

.box .fa-star, .detail-content .fa-star {
    color: gold;
}

/* product detail dinamico */

#product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

#product-details img {
    height: 25rem;
    width: fit-content;
    padding-bottom: 1rem;
}

.detail-content {
    text-align: left;
}

.detail-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.detail-content span {
    display: inline-block;
    font-size: 1.25rem;
}

.detail-content p {
    font-size: 1rem;
}

.detail-content button a {
    color: var(--white);
}

/* responsive mobile first */

    /* 320px */

@media screen and (min-width:320px) {
    .box {
        display: flex;
        border-radius: .5rem;
        justify-content: center;
        padding: .5rem;
        text-align: center;
        border: solid .75px rgba(194, 194, 194, 0.8);
        margin: 3rem;
        width: auto;
    }

    .banner {
        margin: 0 !important;
        padding-top: 7rem;
        padding-bottom: 3rem;
        background-size: 100% 12.5rem;
    }
}

@media screen and (min-width:550px) {

    #productos-destacados-content {
        background-color: var(--white);
        height: auto;
        justify-content: space-evenly;
        align-items: stretch;
        justify-items: center;
        align-content: space-around;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: .5rem;
        margin: 0 1rem;
        padding-bottom: 1rem;
    }

    .banner {
        text-align: center;
        color: var(--white);
        background-repeat: no-repeat;
        background-size: 100% 300px;
        padding-top: 6rem;
    }

    .banner h1 {
        padding-top: 1rem;
    } 

    footer {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    .contact h4 {
        padding: 0;
    }

    form .subscribe {
        width: 50%;
    }

    #product-details {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #product-details img {
        height: 20rem;
        width: fit-content;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

}

    /* 768px */

@media screen and (min-width:768px) {
    header {
        background-size: 100%;
    }

    .left {
        display: flex;
        align-items: center;
    }

    .navbar {
        padding: 0 1.25rem;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
    }

    .navbar .menu li a {
        display: block;
        color: var(--white);
        padding: 0 .25rem;
        font-family: var(--fuente-texto-sans-serif);
        font-size: 0.8rem;
    }

    .navbar .menu li a.active {
        color: var(--black);
        transition: 0.5s;
    }

    .icons .hamburger {
        display: none;
    }

    .banner {
        padding-top: 6rem;
    }

    .subtitle {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
    }

    /* elementos dinámicos */

    .box {
        width: 20rem;
    }

    #product-details {
        margin: 4rem;
    }

    #product-details img {
        height: 25rem;
    }
}

@media screen and (min-width:1100px) {

    header {
        background-size: cover;
    }

    .banner {
        background-size: 100% 35rem;
        height: 35rem;
        padding-top: 20rem;
    }

    .banner h1 {
        font-size: 3.5rem;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .navbar .menu {
        display: flex;
        flex-direction: row;
        opacity: 1;
        overflow: visible;
    }

    .icons .hamburger {
        display: none;
    }

    .about {
        padding: 1rem;
    }

    .about-container {
        display: flex;
    }

    #productos-destacados {
        margin-top: 1rem;
    }

    #productos-destacados-content {
        grid-template-columns: repeat(4, 1fr);
        padding: 1rem;
    }
    
    #productos-destacados h2 {
        padding-top: 1rem;
        margin-bottom: 0;
    }

    #product-details {
        margin: 4rem 10rem;
    }
}
